@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------Обнуление*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.main-header {
  z-index: 500;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
}

.main-header.out {
  background: #fff;
}

.supheader {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.supheader .nav-link {
  display: block;
  color: #b30000;
  padding: 18px 20px;
  font-size: 13px;
  position: relative;
}

.supheader .nav-link img {
  max-width: 30px;
  height: auto;
}

.supheader .location {
  position: relative;
  padding: 0 40px;
  text-decoration: underline;
  color: #b30000;
  font-size: 16px;
}

.supheader .location img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 30px;
  width: auto;
}

.supheader .nav-item {
  position: relative;
  padding: 0 10px;
}

.supheader .nav-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: #ffb0b0;
  -webkit-transform: skew(-35deg);
          transform: skew(-35deg);
}

.supheader .nav-item:hover {
  font-weight: 500;
}

.supheader .nav-icon {
  padding: 0;
}

.supheader .active {
  font-weight: 500;
}

.supheader .active::before {
  opacity: 0.9;
}

.supheader .navbar {
  padding: 0;
  height: 55px;
}

.supheader.out {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  margin-top: -55px;
}

.header .navbar-brand-text {
  text-align: center;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
}

.header .navbar-brand-text p {
  margin: 6px 0;
}

.header .navbar-brand-logo {
  max-width: 200px;
  height: auto;
  padding-right: 20px;
}

.header .nav-item {
  font-size: 13px;
  color: #8295a0;
}

.header .nav-item p {
  font-family: "PT Sans", Arial, sans-serif;
  padding: 0 1rem;
  margin-bottom: 5px;
}

.header .nav-link {
  font-weight: 700;
  font-size: 30px;
  color: #b30000;
}

.header .nav-btn {
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
  color: #b30000;
  border: 2px solid #b30000;
  border-radius: 0;
  font-size: 17px;
  height: 56px;
  padding: 13px 22px 13px 60px;
  font-weight: 700;
  margin-left: 5px;
  position: relative;
  background: url("/img/tel-black.svg") no-repeat 10px 50%;
  background-size: 50px;
}

.header .nav-btn:hover {
  background: url("/img/tel-white.svg") no-repeat 10px 50%, #b30000;
  color: #fff;
  background-size: 50px;
}

.header .nav-btn-login {
  background: url("/img/login-icon-black.svg") no-repeat 10px 50%;
  background-size: 45px;
}

.header .nav-btn-login:hover {
  background: url("/img/login-icon-white.svg") no-repeat 10px 50%, #b30000;
  background-size: 45px;
}

.header .nav-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.subheader {
  border-top: 2px solid #eef0f1;
  border-bottom: 2px solid #eef0f1;
}

.subheader .nav {
  padding: 15px 0;
}

.subheader .nav-link {
  color: #272727;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
}

.mainslider__img {
  padding: 139px 0 0 0;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.productsCategories {
  padding: 40px 0;
  background: #ebebeb;
}

.productsCategories__row {
  margin: 25px 0;
}

.productsCategories__title {
  margin: 0 0 40px 0;
  color: #b30000;
}

.productsCategories .card {
  border-radius: 0;
  opacity: 0.85;
  -webkit-transition: 1s;
  transition: 1s;
}

.productsCategories .card:hover {
  z-index: 2;
  opacity: 1;
}

.productsCategories .card-title {
  color: #b30000;
}

.moreDetails {
  background-color: #ffffff;
  padding: 50px 0;
}

.moreDetails__title {
  margin: 0 0 40px 0;
  color: #b30000;
}

.moreDetails__text {
  margin-bottom: 60px;
}

.moreDetails__wrapper-item {
  text-align: center;
  border-right: 2px solid #e5e8ea;
}

.moreDetails .item-top {
  display: block;
  font-size: 43px;
  font-weight: 900;
  padding: 0 0 20px 0;
}

.moreDetails .item-text {
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  max-width: 70%;
}

.moreDetails .item-last {
  border-right: none;
}

.moreDetails__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 0 0 0;
}

.moreDetails__btn .nav-btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #b30000;
  border: 2px solid #b30000;
  border-radius: 0;
  font-size: 17px;
  height: 56px;
  padding: 0 22px;
  font-weight: 700;
  margin-left: 5px;
  position: relative;
}

.moreDetails__btn .nav-btn:hover {
  background-color: #b30000;
  color: #fff;
}

.moreDetails__btn .nav-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.partners {
  padding: 50px 0;
  background-color: #ffffff;
}

.partners__title {
  text-align: center;
  margin-bottom: 30px;
  color: #b30000;
}

.partners__item {
  max-width: 70%;
}

.categoriesMenu {
  margin: 40px 0;
}

.categoriesMenu__title {
  text-align: center;
  margin-bottom: 80px;
  color: #b30000;
}

.categoriesMenu .card {
  text-align: center;
  border: none;
}

.categoriesMenu .card .card-img-top {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 150px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.categoriesMenu .card-text {
  color: #b30000;
  cursor: pointer;
}

.breadcrumb {
  margin: 20px 0;
  font-size: 14px;
  background: #fff;
}

.breadcrumb-item a {
  color: #b30000;
}

.mainCategories__header {
  background: url("https://backend.akfagroup.uz:8443/akfagroup-api-build/rest/resource/section/c040842d-ae65-4979-8ed2-7e1e10d3f014_header.png") no-repeat 50% 50%;
  background-size: cover;
  padding: 260px 0 80px 0;
}

.mainCategories__header-inner {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainCategories__header-inner h2 {
  font-size: 55px;
  line-height: 60px;
}

.mainCategories__header-inner h4 {
  width: 70%;
  margin: 2.415vw 0 0 0;
  font-weight: 400;
}

.mainCategories__header-bottom {
  background-color: #990100;
  padding: 50px 0;
}

.mainCategories__header-bottom .item-top {
  display: block;
  font-size: 60px;
  font-weight: 400;
  padding: 0 10px 0 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mainCategories__header-bottom .item-text {
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  max-width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mainCategories__header-item {
  color: #fff;
}

.catalogCategories-nav {
  padding: 50px 0;
  font-size: 20px;
}

.catalogCategories-nav .nav-tabs .nav-link {
  border: 2px solid transparent;
}

.catalogCategories-nav .nav-link {
  font-weight: 500;
  color: #495057;
  border: none;
}

.catalogCategories-nav .nav-link.active {
  color: #b30000;
  border: none;
}

.products .card {
  margin-bottom: 25px;
  border: none;
  background-color: #1e1e1e;
  border-radius: 0;
  overflow: hidden;
}

.products .card .card-img {
  -webkit-transition: 1s;
  transition: 1s;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 0;
}

.products .card:hover .card-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products .card-title {
  font-size: 24px;
  font-weight: 600;
}

.products__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 100px 0;
}

.products__btn .nav-btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #b30000;
  border: 2px solid #b30000;
  border-radius: 0;
  font-size: 17px;
  height: 56px;
  padding: 0 22px;
  font-weight: 700;
  margin-left: 5px;
  position: relative;
}

.products__btn .nav-btn:hover {
  background-color: #b30000;
  color: #fff;
}

.products__btn .nav-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.advertising,
.aboutJob {
  padding: 50px 0;
}

.advertising__title,
.aboutJob__title {
  margin: 0 0 40px 0;
  color: #b30000;
}

.advertising .card,
.aboutJob .card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: none;
}

.advertising .card-text,
.aboutJob .card-text {
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
}

.advertising .card-body,
.aboutJob .card-body {
  padding: 20px 0;
}

.advertising .card-img-top,
.aboutJob .card-img-top {
  width: 110px;
  border-radius: 50%;
  background: #ebebeb;
}

.leaveRequest,
.warranty,
.sendresume,
.partnership {
  padding: 100px 0;
  background: url("/img/leaveRequst-bg.jpg") no-repeat 50% 20%;
  background-size: cover;
}

.leaveRequest .card,
.warranty .card,
.sendresume .card,
.partnership .card {
  border: none;
  border-radius: 0;
}

.leaveRequest .card-title,
.warranty .card-title,
.sendresume .card-title,
.partnership .card-title {
  font-size: 35px;
  font-weight: 400;
  color: #b30000;
  margin: 30px 0;
}

.leaveRequest .card-text,
.warranty .card-text,
.sendresume .card-text,
.partnership .card-text {
  font-size: 19px;
  line-height: 28px;
  margin: 0 0 30px 0;
}

.leaveRequest .form-control,
.warranty .form-control,
.sendresume .form-control,
.partnership .form-control {
  border-radius: 0;
  padding: 20px 15px;
}

.leaveRequest__btn,
.warranty__btn,
.sendresume__btn,
.partnership__btn {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 20px 0;
}

.leaveRequest__btn .nav-btn,
.warranty__btn .nav-btn,
.sendresume__btn .nav-btn,
.partnership__btn .nav-btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #b30000;
  color: #fff;
  border: 2px solid #b30000;
  border-radius: 0;
  font-size: 17px;
  height: 56px;
  padding: 0 55px;
  font-weight: 700;
  position: relative;
}

.leaveRequest__btn .nav-btn:hover,
.warranty__btn .nav-btn:hover,
.sendresume__btn .nav-btn:hover,
.partnership__btn .nav-btn:hover {
  background: #fff;
  color: #b30000;
}

.leaveRequest__btn .nav-btn:focus,
.warranty__btn .nav-btn:focus,
.sendresume__btn .nav-btn:focus,
.partnership__btn .nav-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cardsTop__header {
  background: url("/img/whiteopacity50bg.png"), url("/img/card-bg2.jpg") 50%/cover no-repeat;
  padding: 260px 0 80px 0;
  height: 600px;
}

.cardsTop__header-inner {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardsTop__header-inner h2 {
  font-size: 55px;
  line-height: 60px;
}

.cardsTop__header-inner h4 {
  width: 70%;
  margin: 2.415vw 0 0 0;
  font-weight: 500;
}

.products_info,
.about_info,
.ourcontacts {
  padding: 20px 0 100px 0;
}

.products_info .card,
.about_info .card,
.ourcontacts .card {
  border: none;
  border-radius: 0;
  overflow: hidden;
  padding: 0;
}

.products_info .card .card-img,
.about_info .card .card-img,
.ourcontacts .card .card-img {
  -webkit-transition: 1s;
  transition: 1s;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.products_info .card-title,
.about_info .card-title,
.ourcontacts .card-title {
  font-size: 24px;
  font-weight: 600;
  padding: 30px 0 20px 0;
}

.products_info .card-item,
.about_info .card-item,
.ourcontacts .card-item {
  padding: 10px 0;
}

.products_info__btn,
.about_info__btn,
.ourcontacts__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 0 0;
}

.products_info__btn .nav-btn,
.about_info__btn .nav-btn,
.ourcontacts__btn .nav-btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #b30000;
  border: 2px solid #b30000;
  border-radius: 0;
  font-size: 17px;
  height: 56px;
  padding: 0 22px;
  font-weight: 700;
  margin-left: 5px;
  position: relative;
}

.products_info__btn .nav-btn:hover,
.about_info__btn .nav-btn:hover,
.ourcontacts__btn .nav-btn:hover {
  background-color: #b30000;
  color: #fff;
}

.aboutCompany__header,
.forpartners__header {
  background: url("/img/blackopacity50bg.png"), url("/img/card-bg3.jpg") 50%/cover no-repeat;
  padding: 260px 0 80px 0;
  height: 650px;
}

.aboutCompany__header-inner,
.forpartners__header-inner {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutCompany__header-inner h2,
.forpartners__header-inner h2 {
  font-size: 55px;
  line-height: 60px;
}

.aboutCompany__header-inner h4,
.forpartners__header-inner h4 {
  width: 70%;
  margin: 2.415vw 0 0 0;
  font-weight: 500;
}

.about_info {
  padding: 0 0 100px 0;
}

.about_info .card-title {
  font-size: 24px;
  font-weight: 600;
  padding: 30px 0 0 0;
}

.about_info .card-item {
  padding: 0 0 10px 0;
}

.warranty {
  background: url("/img/warranty-bg.png") no-repeat 50% 50%;
}

.warranty .card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: none;
  margin: 0;
}

.warranty .card-body {
  padding: 20px 0;
}

.warranty .card-title {
  text-align: left;
}

.warranty .card-subtitle {
  text-align: left;
  font-size: 18px;
  line-height: 30px;
}

.warranty .card-text {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 0 0;
}

.warranty .card-img-top {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  background: #fff;
}

.timeline {
  font-size: 16px;
  line-height: 1.75;
  background: #fff;
  padding: 100px 0;
}

.timeline .card-title {
  font-size: 35px;
  font-weight: 400;
  color: #b30000;
  margin: 0 0 50px 0;
  text-align: center;
}

#timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#timeline:hover .tl-item {
  width: 23.3333%;
}

.tl-item {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 50vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.tl-item:before, .tl-item:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.tl-item:after {
  background: rgba(0, 0, 0, 0.75);
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.tl-item:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 75%);
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) translateY(50%);
          transform: translate3d(0, 0, 0) translateY(50%);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}

.tl-item:hover {
  width: 30% !important;
}

.tl-item:hover:after {
  opacity: 0;
}

.tl-item:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translateY(0);
          transform: translate3d(0, 0, 0) translateY(0);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.75s ease 0.5s;
  transition: all 0.75s ease 0.5s;
}

.tl-item:hover .tl-bg {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.tl-content {
  -webkit-transform: translate3d(0, 0, 0) translateY(25px);
          transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}

.tl-content h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-bottom: 1px solid #fff;
}

.tl-year p {
  font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 0;
}

.tl-bg {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-filter: blur(100%);
          filter: blur(100%);
}

.freePlace {
  height: 200px;
}

.commentsList,
.map__content {
  padding: 0 0 40px 0;
}

.commentsList__title,
.map__content__title {
  color: #b30000;
  margin: 0 0 40px 0;
}

.commentsList__usersPhoto,
.map__content__usersPhoto {
  height: 150px;
  width: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}

.commentsList .media,
.map__content .media {
  color: #fff;
  background: #495057;
  padding: 30px;
}

.commentsList .media-userinfo,
.map__content .media-userinfo {
  font-size: 14px;
  padding: 0 0 10px 0;
}

.commentsList .media-site,
.map__content .media-site {
  background: #ebebeb;
  color: #000;
}

.commentsList h5,
.map__content h5 {
  font-size: 20px;
}

.commentsList .media-date,
.map__content .media-date {
  font-size: 14px;
  padding: 10px 0 0 0;
  text-align: right;
}

.commentsList__btn,
.map__content__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.commentsList__btn .nav-btn,
.map__content__btn .nav-btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #b30000;
  border: 2px solid #b30000;
  border-radius: 0;
  font-size: 17px;
  height: 56px;
  padding: 0 22px;
  font-weight: 700;
  position: relative;
}

.commentsList__btn .nav-btn:hover,
.map__content__btn .nav-btn:hover {
  background-color: #b30000;
  color: #fff;
}

.commentsList__btn .nav-btn:focus,
.map__content__btn .nav-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.TwoGisMap {
  width: 100%;
  height: auto;
}

.loginForm {
  font-size: 14px;
  padding: 10vh 0 0 0;
  /* Change styles for span and cancel button on extra small screens */
}

.loginForm form {
  border: 3px solid #ebebeb;
  background: rgba(255, 255, 255, 0.8);
  padding-bottom: 20px;
}

.loginForm h5 {
  color: #b30000;
  line-height: 25px;
  padding: 20px 0 0 0;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ebebeb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loginForm button, .loginForm .cancelbtn {
  background-color: #b30000;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: 2px solid #b30000;
  cursor: pointer;
  width: 100%;
}

.loginForm button:hover {
  background-color: #fff;
  color: #b30000;
}

.loginForm .cancelbtn {
  width: auto;
  padding: 10px 18px;
  margin: 0;
  border: 2px solid #495057;
  background-color: #495057;
}

.loginForm .cancelbtn:hover {
  background-color: #fff;
  color: #495057;
}

.loginForm .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.loginForm img.avatar {
  width: 40%;
  border-radius: 50%;
}

.loginForm .container {
  padding: 16px;
}

.loginForm span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  .loginForm span.psw {
    display: block;
    float: none;
  }
  .loginForm .cancelbtn {
    width: 100%;
  }
}

.sendresume {
  background: url("/img/leaveRequst-bg2.jpg") no-repeat 50% 20%;
}

.sendresume .card-text {
  margin: 0 0 1rem 0;
}

.sendresume .nav-btn {
  padding: 12px 55px;
}

.about_info .card-title, .ourcontacts .card-title {
  color: #b30000;
  font-size: 2rem;
  padding: 0;
}

.about_info .card-text-top, .ourcontacts .card-text-top {
  font-size: 18px;
  font-weight: 700;
}

.aboutJob .card-img-top {
  width: 110px;
  height: 110px;
  padding: 10px;
  border-radius: 50%;
  background: #ebebeb;
  -o-object-fit: contain;
     object-fit: contain;
}

.partnership {
  background: url("/img/partnership-gb.jpg") no-repeat 50% 20%;
  margin: 0 0 50px 0;
}

.partnership .card-text {
  margin: 0 0 1rem 0;
}

.partnership .nav-btn {
  padding: 12px 55px;
}

.forpartners__header {
  background: url("/img/blackopacity50bg.png"), url("/img/card-bg1.jpg") 50%/cover no-repeat;
}

.ourcontacts {
  padding: 20px 0 50px 0;
}

.ourcontacts a {
  display: block;
  padding: 0 0 10px 0;
  color: #b30000;
}

.footer {
  background-color: #ebebeb;
  color: #990100;
  font-size: 14px;
}

.footer a {
  color: #990100;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
}

.footer__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 30px;
}

.footer__logo img {
  max-width: 200px;
  height: auto;
}

.footer__text {
  line-height: 1.6;
  margin-bottom: 10px;
  max-width: 200px;
}

.footer__tel {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer__tel a:hover {
  color: #cd3301;
}

.footer__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.footer__item {
  line-height: 25px;
}

.footer__item:hover {
  color: #cd3301;
}

.subfooter {
  background: #555454;
  padding-top: 10px;
  font-size: 14px;
}

.subfooter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subfooter a,
.subfooter p {
  color: #ffffff;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 20px;
}

.subfooter__wrapper-col p {
  margin: 15px 0;
  font-weight: 600;
  text-align: center;
}

.subfooter__wrapper-col a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 20px;
}

.subfooter__wrapper-col a:hover {
  color: #cd3301;
}

.subfooter__wrapper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.supfooter {
  margin-bottom: 30px;
  background: url("/img/supfooter-bg1.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 18px;
  padding: 20px 0;
}

@media (max-width: 992px) {
  .carousel .carousel-indicators li {
    width: 10px;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 15px;
    height: 15px;
  }
  .mainslider__img {
    padding: 0;
    height: 50vh;
  }
  .moreDetails__wrapper-item {
    padding: 0 0 30px 0;
  }
  .moreDetails .item-last {
    padding: 0 0;
  }
  .moreDetails__btn {
    margin: 20px 0 0 0;
  }
  .partners__item {
    padding: 0 40px;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .supheader {
    display: none;
  }
  .header {
    position: relative;
    z-index: 3;
  }
  .header .navbar, .header .form-inline {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header .navbar-brand-logo {
    max-width: 120px;
  }
  .header .navbar-brand-text {
    display: none;
  }
  .header .nav-item {
    display: none;
  }
  .header .nav-btn {
    font-size: 0;
    height: 20px;
    width: 40px;
    border: none;
    margin: 0;
    position: relative;
    background-size: 40px;
    padding: 15px 0;
  }
  .header .navbar-toggler-icon {
    background: url("/img/icon-burger.svg") no-repeat center center;
    background-size: 24px;
  }
  .header .active {
    background: url("/img/icon-burger-x.svg") no-repeat center center;
    background-size: 24px;
    z-index: 2;
    position: relative;
  }
  .header .navbar-toggler {
    padding: 0 0 0 30px;
  }
  .header .navbar-toggler:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .subheader {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    padding: 60px 0 0 0;
    font-size: 20px;
    line-height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subheader::before {
    content: "";
    position: fixed;
    left: -100%;
    bottom: 0;
    width: 60%;
    height: 100vh;
    background-color: rgba(85, 84, 84, 0.4);
    z-index: 5;
  }
  .subheader .nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .subheader .nav-pills .nav-link {
    width: 100%;
    border-radius: 0;
    border-bottom: 1.5px solid #999999;
    text-align: left;
    padding: 1rem 1rem;
    position: relative;
    /*&:after{
                content: "";
                position: absolute;
                top: 20%;
                right: 20px;
                width: 25px;
                height: 25px;
                background: url("/img/next.png") no-repeat center center;
                background-size: contain;
            }*/
  }
  .open {
    right: 0;
  }
  .mainslider__img {
    padding: 0;
    height: 50vh;
  }
  .mainCategories__header
, .forpartners__header
, .aboutCompany__header
, .cardsTop__header {
    padding: 70px 0 30px 0;
    height: 100vh;
  }
  .mainCategories__header-inner
h2, .forpartners__header-inner
h2, .aboutCompany__header-inner
h2, .cardsTop__header-inner h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .mainCategories__header-inner
h4, .forpartners__header-inner
h4, .aboutCompany__header-inner
h4, .cardsTop__header-inner h4 {
    margin: 20px 0 0 0;
    width: 100%;
    font-size: 20px;
  }
  .mainCategories__header-bottom
, .forpartners__header-bottom
, .aboutCompany__header-bottom {
    padding: 20px 0;
  }
  .mainCategories__header-item
, .mainCategories__header-item
, .aboutCompany__header-item {
    padding: 15px;
  }
  .catalogCategories-nav {
    padding: 0 0 30px 0;
  }
  .catalogCategories-nav .nav-tabs {
    border-bottom: none;
  }
  .catalogCategories-nav .nav-fill .nav-item {
    text-align: left;
  }
  .freePlace {
    height: 40px;
  }
  .map__content__title {
    margin: 0 0 20px 0;
  }
  .TwoGisMap iframe {
    width: 100%;
    height: 75vh;
  }
  .about_info {
    padding: 0 0 20px 0;
  }
  .timeline {
    display: none;
  }
  .sendresume .nav-btn {
    padding: 0 55px;
  }
  .supfooter {
    display: none;
  }
  .footer__wrapper {
    display: none;
  }
  .subfooter {
    font-size: 14px;
  }
  .subfooter p {
    color: #ffffff;
  }
  .subfooter a {
    line-height: 30px;
  }
  .subfooter a img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 787px) {
  .subfooter {
    font-size: 10px;
  }
  .subfooter p {
    color: #ffffff;
    padding: 0 0 10px 0;
    margin: 0;
  }
  .subfooter a {
    line-height: 20px;
  }
  .subfooter a img {
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=style.css.map */