@import "_null";

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

@import "_header";

//Главная страница
.mainslider {
    &__img {
        padding: 139px 0 0 0;
        height: 100vh;
        object-fit: cover;
    }
}

.productsCategories {
    padding: 40px 0;
    background: #ebebeb;
    &__row {
        margin: 25px 0;
    }

    &__title {
        margin: 0 0 40px 0;
        color: #b30000;
    }

    .card {
        border-radius: 0;
        opacity: 0.85;
        &:hover {
            z-index: 2;
            opacity: 1;
            //transform: scale(1.1);
        }
        transition: 1s;

        &-title {
            color: #b30000;
        }
    }
}

.moreDetails {
    background-color: $lightbg;
    padding: 50px 0;

    &__title {
        margin: 0 0 40px 0;
        color: #b30000;
    }

    &__text {
        margin-bottom: 60px;
    }

    &__wrapper {
        &-item {
            text-align: center;
            border-right: 2px solid #e5e8ea;
        }
    }

    .item-top {
        display: block;
        font-size: 43px;
        font-weight: 900;
        padding: 0 0 20px 0;
    }

    .item-text {
        font-size: 14px;
        line-height: 16px;
        display: inline-block;
        max-width: 70%;
    }

    .item-last {
        border-right: none;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 60px 0 0 0;
        .nav-btn {
            transition: 0.3s;
            color: #b30000;
            border: 2px solid #b30000;
            border-radius: 0;
            font-size: 17px;
            height: 56px;
            padding: 0 22px;
            font-weight: 700;
            margin-left: 5px;
            position: relative;

            &:hover {
                background-color: #b30000;
                color: #fff;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}

.partners {
    padding: 50px 0;
    background-color: $lightbg;

    &__title {
        text-align: center;
        margin-bottom: 30px;
        color: #b30000;
    }

    &__item {
        max-width: 70%;
    }
}

.categoriesMenu {
    margin: 40px 0;
    &__title {
        text-align: center;
        margin-bottom: 80px;
        color: #b30000;
    }

    .card {
        text-align: center;
        border: none;
        .card-img-top {
            align-self: center;
            width: 150px;
            height: 100px;
            object-fit: contain;
        }

        &-text {
            color: #b30000;
            cursor: pointer;
        }
    }
}

//Конец главной страницы

//Страница Каталог
.breadcrumb {
    margin: 20px 0;
    font-size: 14px;
    background: #fff;
    &-item {
        a {
            color: #b30000;
        }
    }
}

.mainCategories__header {
    //margin: 199px 0 0 0;
    background: url("https://backend.akfagroup.uz:8443/akfagroup-api-build/rest/resource/section/c040842d-ae65-4979-8ed2-7e1e10d3f014_header.png")
        no-repeat 50% 50%;
    background-size: cover;
    padding: 260px 0 80px 0;

    &-inner {
        color: #fff;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 55px;
            line-height: 60px;
        }
        h4 {
            width: 70%;
            margin: 2.415vw 0 0 0;
            font-weight: 400;
        }
    }

    &-bottom {
        background-color: $darkredtextbg;
        padding: 50px 0;

        .item-top {
            display: block;
            font-size: 60px;
            font-weight: 400;
            padding: 0 10px 0 0;
            align-self: center;
        }

        .item-text {
            font-size: 16px;
            line-height: 20px;
            display: inline-block;
            max-width: 60%;
            align-self: center;
        }
    }

    &-item {
        color: #fff;
    }
}

.catalogCategories-nav {
    padding: 50px 0;
    font-size: 20px;
    .nav-tabs .nav-link {
        border: 2px solid transparent;
    }

    .nav-link {
        font-weight: 500;
        color: #495057;
        border: none;
    }

    .nav-link.active {
        color: #b30000;
        border: none;
        //border-color: #b30000 #b30000 #fff;
    }
}

.products {
    .card {
        margin-bottom: 25px;
        border: none;
        background-color: #1e1e1e;
        border-radius: 0;
        overflow: hidden;
        .card-img {
            transition: 1s;
            object-fit: cover;
            height: 100%;
            border-radius: 0;
        }
        &:hover {
            .card-img {
                transform: scale(1.1);
            }
        }

        &-title {
            font-size: 24px;
            font-weight: 600;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 100px 0;
        .nav-btn {
            transition: 0.3s;
            color: #b30000;
            border: 2px solid #b30000;
            border-radius: 0;
            font-size: 17px;
            height: 56px;
            padding: 0 22px;
            font-weight: 700;
            margin-left: 5px;
            position: relative;

            &:hover {
                background-color: #b30000;
                color: #fff;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}

.advertising,
.aboutJob {
    padding: 50px 0;

    &__title {
        margin: 0 0 40px 0;
        color: #b30000;
    }

    .card {
        align-items: center;
        text-align: center;
        border: none;
        &-text {
            font-size: 14px;
            font-family: "PT Sans", Arial, sans-serif;
        }
        &-body {
            padding: 20px 0;
        }
    }
    .card-img-top {
        width: 110px;
        border-radius: 50%;
        background: #ebebeb;
    }
}

.leaveRequest,
.warranty,
.sendresume,
.partnership {
    //margin: 100px 0 0 0;
    padding: 100px 0;
    background: url("/img/leaveRequst-bg.jpg") no-repeat 50% 20%;
    background-size: cover;
    .card {
        border: none;
        border-radius: 0;
        &-title {
            font-size: 35px;
            font-weight: 400;
            color: #b30000;
            margin: 30px 0;
        }

        &-text {
            font-size: 19px;
            line-height: 28px;
            margin: 0 0 30px 0;
        }
    }

    .form-control {
        border-radius: 0;
        padding: 20px 15px;
    }

    &__btn {
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0 20px 0;
        .nav-btn {
            transition: 0.3s;
            background-color: #b30000;
            color: #fff;
            border: 2px solid #b30000;
            border-radius: 0;
            font-size: 17px;
            height: 56px;
            padding: 0 55px;
            font-weight: 700;
            position: relative;

            &:hover {
                background: #fff;
                color: #b30000;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}

//Конец страницы каталог

//Страница карточки товара

.cardsTop__header {
    //margin: 199px 0 0 0;
    background: url("/img/whiteopacity50bg.png"), url("/img/card-bg2.jpg") 50% / cover no-repeat;
    padding: 260px 0 80px 0;
    height: 600px;
    &-inner {
        color: #000;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 55px;
            line-height: 60px;
        }
        h4 {
            width: 70%;
            margin: 2.415vw 0 0 0;
            font-weight: 500;
        }
    }
}

.products_info,
.about_info {
    padding: 20px 0 100px 0;
    .card {
        border: none;
        border-radius: 0;
        overflow: hidden;
        padding: 0;
        .card-img {
            transition: 1s;
            object-fit: cover;
            width: 100%;
            height: auto;
            border-radius: 0;
        }

        &-title {
            font-size: 24px;
            font-weight: 600;
            padding: 30px 0 20px 0;
        }

        &-item {
            padding: 10px 0;
        }
    }

    &__btn {
        display: flex;
        justify-content: right;
        align-items: center;
        margin: 50px 0 0 0;
        .nav-btn {
            transition: 0.3s;
            color: #b30000;
            border: 2px solid #b30000;
            border-radius: 0;
            font-size: 17px;
            height: 56px;
            padding: 0 22px;
            font-weight: 700;
            margin-left: 5px;
            position: relative;

            &:hover {
                background-color: #b30000;
                color: #fff;
            }
        }
    }
}

//Конец страницы карточки товара

//Страница О компании

.aboutCompany__header {
    //margin: 199px 0 0 0;
    background: url("/img/blackopacity50bg.png"), url("/img/card-bg3.jpg") 50% / cover no-repeat;
    padding: 260px 0 80px 0;
    height: 650px;
    &-inner {
        color: #fff;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 55px;
            line-height: 60px;
        }
        h4 {
            width: 70%;
            margin: 2.415vw 0 0 0;
            font-weight: 500;
        }
    }
}

.about_info {
    padding: 0 0 100px 0;

    .card {
        &-title {
            font-size: 24px;
            font-weight: 600;
            padding: 30px 0 0 0;
        }

        &-item {
            padding: 0 0 10px 0;
        }
    }
}

.warranty {
    background: url("/img/warranty-bg.png") no-repeat 50% 50%;
    .card {
        align-items: center;
        text-align: center;
        border: none;
        margin: 0;
        &-body {
            padding: 20px 0;
        }

        &-title {
            text-align: left;
        }

        &-subtitle {
            text-align: left;
            font-size: 18px;
            line-height: 30px;
        }

        &-text {
            text-align: center;
            font-size: 16px;
            line-height: 20px;
            margin: 20px 0 0 0;
        }
    }

    .card-img-top {
        width: 120px;
        height: 120px;
        object-fit: contain;
        border-radius: 50%;
        background: #fff;
    }
}

.timeline {
    //font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    background: #fff;
    padding: 100px 0;
    .card-title {
        font-size: 35px;
        font-weight: 400;
        color: #b30000;
        margin: 0 0 50px 0;
        text-align: center;
    }
}

#timeline {
    display: flex;
    //background-color: #fff;
    &:hover {
        .tl-item {
            width: 23.3333%;
        }
    }
}

.tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 50vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;

    &:before,
    &:after {
        transform: translate3d(0, 0, 0);
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &:after {
        background: transparentize(#000, 0.25);
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    &:before {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 75%);
        z-index: 1;
        opacity: 0;
        transform: translate3d(0, 0, 0) translateY(50%);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    &:hover {
        width: 30% !important;

        &:after {
            opacity: 0;
        }

        &:before {
            opacity: 1;
            transform: translate3d(0, 0, 0) translateY(0);
            transition: opacity 1s ease, transform 1s ease 0.25s;
        }

        .tl-content {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.75s ease 0.5s;
        }

        .tl-bg {
            filter: grayscale(0);
        }
    }
}

.tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;

    h1 {
        //font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }
}

.tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    //border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    p {
        font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 28px;
        line-height: 0;
    }
}

.tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: blur(100%);
}

//Конец страницы О компании

//Страница Отзывов

.freePlace {
    height: 200px;
}

.commentsList,
.map__content {
    padding: 0 0 40px 0;

    //background: #ebebeb;
    &__title {
        color: #b30000;
        margin: 0 0 40px 0;
    }

    &__usersPhoto {
        height: 150px;
        width: 130px;
        object-fit: cover;
    }

    .media {
        color: #fff;
        background: #495057;
        padding: 30px;
    }

    .media-userinfo {
        font-size: 14px;
        padding: 0 0 10px 0;
    }

    .media-site {
        background: #ebebeb;
        color: #000;
    }

    h5 {
        font-size: 20px;
    }

    .media-date {
        font-size: 14px;
        padding: 10px 0 0 0;
        text-align: right;
    }

    &__btn {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 50px 0;
        .nav-btn {
            transition: 0.3s;
            color: #b30000;
            border: 2px solid #b30000;
            border-radius: 0;
            font-size: 17px;
            height: 56px;
            padding: 0 22px;
            font-weight: 700;
            //margin-left: 5px;
            position: relative;

            &:hover {
                background-color: #b30000;
                color: #fff;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}

.TwoGisMap {
    width: 100%;
    height: auto;
}

.loginForm {
    
    font-size: 14px;
    padding: 10vh 0 0 0;
    //position: absolute;
    //left: 25%;
    //top: 10%;
    form {
        border: 3px solid #ebebeb;
        background: rgba(255, 255, 255, 0.8);
        padding-bottom: 20px;
    }

    h5{
        color: #b30000;
        line-height: 25px;
        padding: 20px 0 0 0;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ebebeb;
        box-sizing: border-box;
    }

    button,.cancelbtn {
        background-color: #b30000;
        color: white;
        padding: 14px 20px;
        margin: 20px 0;
        border: 2px solid #b30000;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        background-color: #fff;
        color: #b30000;
    }

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        margin: 0;
        border: 2px solid #495057;
        background-color: #495057;
    }

    .cancelbtn:hover {
        background-color: #fff;
        color: #495057;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }
}

//Начало страницы Каръера

.sendresume {
    background: url("/img/leaveRequst-bg2.jpg") no-repeat 50% 20%;
    .card-text{
        margin: 0 0 1rem 0;
    }
    .nav-btn{
        padding: 12px 55px;
    }
}

.about_info{
    .card-title{
        color: #b30000;
        font-size: 2rem;
        padding: 0;
    }

    .card-text-top{
        font-size: 18px;
        font-weight: 700;
    }
}

//.aboutJob {
    //.card-img-top {
    //    width: 110px;
    //    height: 110px;
    //    border-radius: 50%;
    //    background: #ebebeb;
    //    object-fit: contain;
    //}
//}

.partnership {
    background: url("/img/partnership-gb.jpg") no-repeat 50% 20%;
    .card-text{
        margin: 0 0 1rem 0;
    }
    .nav-btn{
        padding: 12px 55px;
    }
    
}
@import "_footer";

@import "_header&footer-mediaQuery";
